###############
# Utils
###############

# IP addresses
alias ip="dig +short myip.opendns.com @resolver1.opendns.com"
alias localip="ipconfig getifaddr en1"
alias ips="ifconfig -a | grep -o 'inet6\? \(\([0-9]\+\.[0-9]\+\.[0-9]\+\.[0-9]\+\)\|[a-fA-F0-9:]\+\)' | sed -e 's/inet6* //'"

# Trim new lines and copy to clipboard
alias c="tr -d '\n' | pbcopy"

# Show/hide hidden files in Finder
alias show="defaults write com.apple.Finder AppleShowAllFiles -bool true && killall Finder"
alias hide="defaults write com.apple.Finder AppleShowAllFiles -bool false && killall Finder"

# Hide/show all desktop icons (useful when presenting)
alias hidedesktop="defaults write com.apple.finder CreateDesktop -bool false && killall Finder"
alias showdesktop="defaults write com.apple.finder CreateDesktop -bool true && killall Finder"

# URL-encode strings
alias urlencode='python -c "import sys, urllib as ul; print ul.quote_plus(sys.argv[1]);"'





alias la='ls -aG'
alias ll='ls -laG'
alias grep='grep --color=auto'

alias e=$EDITOR

# Git
alias ga='git add '
alias gbr='git branch'
alias gc='git commit -am '
alias gst='git status'

hub_path=`which hub`
[[ -f $hub_path ]] && alias git=$hub_path

# SVN
alias sst='svn status'
alias sup='svn update'
alias sci='svn commit -m'
sdi()
{
    svn diff $@ | colordiff
}
