###############
# Utils
###############

# IP addresses
alias ip="dig +short myip.opendns.com @resolver1.opendns.com"
alias localip="ipconfig getifaddr en1"
alias ips="ifconfig -a | grep -o 'inet6\? \(\([0-9]\+\.[0-9]\+\.[0-9]\+\.[0-9]\+\)\|[a-fA-F0-9:]\+\)' | sed -e 's/inet6* //'"

# Trim new lines and copy to clipboard
alias c="tr -d '\n' | pbcopy"

# Show/hide hidden files in Finder
alias show="defaults write com.apple.Finder AppleShowAllFiles -bool true && killall Finder"
alias hide="defaults write com.apple.Finder AppleShowAllFiles -bool false && killall Finder"

# Hide/show all desktop icons (useful when presenting)
alias hidedesktop="defaults write com.apple.finder CreateDesktop -bool false && killall Finder"
alias showdesktop="defaults write com.apple.finder CreateDesktop -bool true && killall Finder"

# URL-encode strings
alias urlencode='python -c "import sys, urllib as ul; print ul.quote_plus(sys.argv[1]);"'





alias la='ls -aG'
alias ll='ls -laG'
alias grep='grep --color=auto'

alias e=$EDITOR
alias es='vim -c"sy off"'

alias g1='git log -1'
alias s1='svn log -l1'

# Git
alias ga='git add'
alias gb='git branch -a'
alias gc='git commit -am'
alias gd='git di'
alias gdc='git di --cached'
alias gds='git di --staged'
alias gf='git fetch --all'
alias gh='git hist'
alias gl='git lol'
alias gm='git merge --no-ff'
alias gp='git pull --rebase'
alias gr='git remote -v'
alias gs='git st'
alias gt='git tag'

[ -f "`which ack`" ] || alias ack=ack-grep

[ -f "`which gmake`" ] && alias make=gmake

hub_path=`which hub`
[[ -f $hub_path ]] && alias git=$hub_path

# SVN
alias st='svn st'
alias sup='svn update'
alias sci='svn commit -m'
sd()
{
    svn di $@ | colordiff
}

# serp
all()
{
    if [ `basename $PWD` == 'touch' ]
    then
        e pages-touch/search/all/_all.ru.priv.js
    elif [ `basename $PWD` == 'mischandlers' ]
    then
        e pages-desktop/error/_error.priv.js
    elif [ `basename ${PWD%[0-9]}` == 'web' ]
    then
        es pages-desktop/search/all/_all.priv.js
    else
        e pages-desktop/common/_common.priv.js
    fi
}

yxw()
{
    if [ -z `pwd | grep hol/arkanavt` ]
    then
        cd `pwd | grep -o '/home/[a-z]*/[a-z0-9]*'`
    else
        cd /hol/arkanavt
    fi
    cd report/templates/YxWeb
}

# tmux
alias tm='tmux -2 -S /tmp/campus'
