# export NODE_PATH=./node_modules:$NODE_PATH
export NODE_PATH=

# export EDITOR=vim
export EDITOR=/usr/local/bin/vim
export PAGER=less

# http://habrahabr.ru/post/153871/
export LESS_TERMCAP_mb=$MAGENTA
# export LESS_TERMCAP_md=$ORANGE
export LESS_TERMCAP_me=$'\E[0m'
export LESS_TERMCAP_so=$'\E[42;30m'
export LESS_TERMCAP_se=$'\E[0m'
export LESS_TERMCAP_us=$'\E[32m'
export LESS_TERMCAP_ue=$'\E[0m'

# Larger bash history (allow 32³ entries; default is 500)
export HISTSIZE=32768
export HISTFILESIZE=$HISTSIZE
export HISTCONTROL=ignoredups
# Make some commands not show up in history
export HISTIGNORE="gst:gd:gl:gbda" # bash
export HISTORY_IGNORE="gst|gd|gl|gbda" # zsh

# fix sorting against underscores
export LC_COLLATE=C
