[user]
    name = 'Igor Novak'
	email = vorian@yandex-team.ru

[core]
    whitespace=fix,-indent-with-non-tab,trailing-space,cr-at-eol,space-before-tab

[merge]
    tool = vimdiff
    log = true

[branch]
    autosetuprebase = always

[push]
    default = current

[color]
    diff = yes
    ui = auto
    # ui = true
[color "branch"]
    current = yellow reverse
    local = yellow
    remote = green
[color "diff"]
    meta = yellow
    frag = magenta
    old = red
    new = green
    whitespace = red reverse
[color "status"]
    added = yellow
    changed = green
    untracked = cyan

[alias]
    st = status
    br = branch -a
    co = checkout
    di = diff
    dc = diff --cached
    ds = diff --staged
    ci = commit
    am = commit --amend
    amend = commit --amend -C HEAD
    undo = reset --soft HEAD^
    cp = cherry-pick
    lg = log -p
    rb = rebase
    lod = log --graph --decorate --format='%h %ad %s' --date=short
    lod = log --graph --decorate --format='%C(yellow)%h %Cblue%d %Cred%ad %Creset%s' --date=short
    lol = log --graph --decorate --pretty=oneline --abbrev-commit
    lola = log --graph --decorate --pretty=oneline --abbrev-commit --all
    hist = log --pretty=format:'%C(yellow)%h%C(reset) %ad | %C(75)%s%C(reset) %C(yellow)%d%C(reset) [%an]' --graph --date=short --branches --all
    standup = log --since '1 day ago' --oneline --author <YOUREMAIL>
    # Show files ignored by git:
    ign = ls-files -o -i --exclude-standard

[diff]
    noprefix = true

[url "git@github.yandex-team.ru:"]
    pushInsteadOf = "ght:"
    pushInsteadOf = "git://github.yandex-team.ru/"

[url "git://github.yandex-team.ru/"]
    insteadOf = "ght:"

[url "git@github.com:"]
    pushInsteadOf = "gh:"
    pushInsteadOf = "git://github.com/"

[url "git://github.com/"]
    insteadOf = "gh:"

[help]
	autocorrect = 1
