[user]
    name = 'Igor Novak'
    email = bezengi@gmail.com

[core]
    whitespace=fix,-indent-with-non-tab,trailing-space,cr-at-eol
    editor=/usr/bin/vim

[color]
    diff = yes
    ui = auto
    # ui = true
[color "branch"]
    current = yellow reverse
    local = yellow
    remote = green
[color "diff"]
    meta = yellow
    frag = magenta
    old = red
    new = green
    whitespace = red reverse
[color "status"]
    added = yellow
    changed = green
    untracked = cyan

[alias]
    st = status -sb
    br = branch
    co = checkout
    di = diff
    dc = diff --cached
    ds = diff --staged
    ci = commit
    amend = commit --amend -C HEAD
    undo = reset --soft HEAD^
    cp = cherry-pick
    lg = log -p
    lod = log --graph --decorate --format='%h %ad %s' --date=short
    lol = log --graph --decorate --pretty=oneline --abbrev-commit
    lola = log --graph --decorate --pretty=oneline --abbrev-commit --all
    ls = log --pretty=format:"%C(yellow)%h %C(blue)%ad%C(red)%d %C(reset)%s%C(green) [%cn]" --decorate --date=short
    standup = log --since '1 day ago' --oneline --author <YOUREMAIL>
    # Show files ignored by git:
    ign = ls-files -o -i --exclude-standard
