snippet def
options word
    (define ${1})

snippet defp
options word
    (define
        (${1})
        (${2}))

snippet cond
options word
    (cond
        ((${1}) (${2}))
        )

snippet if
options word
    (if (${1}) ${2})

snippet and
options word
    (and (${1}) (${2}))

snippet d
options word
    (display ${1})

snippet nl
options word
    (newline)

